@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(/fonts/raleway-v11-latin-regular.woff2) format("woff2"), url(/fonts/raleway-v11-latin-regular.woff) format("woff");
  font-display: swap;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #eee;
  color: #333;
}

a {
  color: #155a93;
}

ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  display: block;
  list-style: none;
  margin: 0.75rem;
  flex-grow: 1;

  a {
    border-radius: 1rem;
    background-color: white;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    background-size: cover;
    background-position: center center;
    padding-top: 10rem;
    border: 6px solid #eee;

    &:hover, &:focus {
      border-color: #155a93;
    }

    & > div {
      border-radius: 0 0 1rem 1rem;
      background-color: #ffffffcc;
      padding: 0.5rem 0.75rem;
    }
  }
}

.p-category {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  text-transform: uppercase;
  font-size: 80%;
  background: lightgray;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
