<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dan Q's Things</title>
    <%= stylesheet_link_tag 'things' %>
    <%= javascript_include_tag 'things' %>
  </head>
  <body>
    <header>
      <h1>
        Dan Q's Things
      </h1>
    </header>
    <main>
      <ul>
        <% data.things.each do |thing| %>
          <li>
            <a href="<%= thing.url %>">
              <%= thing.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </main>
  </body>
</html>
